<div class="our-projects" id="projects">
  <div class="our-projects__header">
    <h1><span>Check out our prestigous project</span> </h1>
  </div>
  <div class="our-projects__description">
    <div class="our-projects__description-card card">
      <div class="our-projects__description-data">
        <i class="fa fa-lightbulb-o icon-round"></i>
        <h5>Electricity</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="our-projects__description-card card">
      <div class="our-projects__description-data">
        <i class="fa fa-medkit icon-round"></i>
        <h5>Hospital</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="our-projects__description-card card">
      <div class="our-projects__description-data">
        <i class="fa fa-crop icon-round"></i>
        <h5>Agriculture</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="our-projects__description-card card">
      <div class="our-projects__description-data">
        <i class="fa fa-graduation-cap icon-round"></i>
        <h5>Education</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="our-projects__description-card card">
      <div class="our-projects__description-data">
        <i class="fa fa-question-circle icon-round"></i>
        <h5>Charity</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="our-projects__description-card card">
      <div class="our-projects__description-data">
        <i class="fa fa-university  icon-round"></i>
        <h5>Finance</h5>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
      </div>
    </div>
  </div>
</div>
