.what-we-do {
  background-repeat: no-repeat;
  background-image: url('/assets/images/what_we_do_bg.png');
  background-size: cover;
  width: 100%;
  border-radius: 0 0 50% 50% / 7%;
  height: 865px;
  top: -245px;
  overflow: hidden;
  position: relative;
  padding-top: 200px;
  display: flex;
  justify-content: space-evenly;
  &__top {
    display: flex;
  }
  &__right p {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    max-width: 400px;
    font-weight: 100;
  }
  &__left {
    h2 {
      padding-top: 25px;
      font-size: 2.25rem;
      font-weight: 300;
      line-height: 2.25rem;
      text-align: right;
      margin-right: 200px;
      position: relative;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      color: #444;
      strong {
        display: block;
        font-weight: 700;
      }
    }
    h2::after {
      content: '';
      display: block;
      width: 200px;
      height: 200px;
      border-left: 2px solid #444;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      right: -280px;
      top: 50px;
    }
  }
}

.what-we-do .animation {
  position: absolute;
  z-index: 0;
  bottom: -50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 827px;
  height: 827px;
  clear: both;
}

.what-we-do .animation h3 {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  width: 400px
}

.what-we-do .animation h3 strong {
  display: block;
  margin-top: 0;
  font-family: 'proxima-nova-n7', 'proxima-nova';
  font-style: normal;
  font-weight: 700;
  color: #444;
  font-size: 4.6875rem
}

.what-we-do .animation h3 span {
  font-family: 'proxima-nova-n8', 'proxima-nova';
  font-style: normal;
  font-weight: 800;
  color: #444;
  font-size: 1.75rem;
  line-height: 2rem
}

.what-we-do .animation h3:before {
  content: '';
  display: block;
  width: 84px;
  height: 3px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: -24px;
  background: #444
}

.what-we-do .animation div {
  border-radius: 50%;
  border: 2px solid #444;
}

.what-we-do .animation .center {
  width: 827px;
  height: 827px;
  left: 0px;
  top: 0;
  right: 0;
  margin: 0 auto;
  position: relative;
}

.what-we-do .animation .center:after {
  content: '';
  display: block;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 2px solid #444;
  position: absolute;
  top: 112px;
  left: 0;
  right: 0;
  margin: 0 auto
}

.what-we-do .animation .sat1,
.what-we-do .animation .sat2,
.what-we-do .animation .sat3,
.what-we-do .animation .sat4 {
  width: 160px;
  height: 160px;
  position: absolute;
  background-color: #444444;
  cursor: pointer;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.what-we-do .animation .sat1:hover,
.what-we-do .animation .sat1.active,
.what-we-do .animation .sat2:hover,
.what-we-do .animation .sat2.active,
.what-we-do .animation .sat3:hover,
.what-we-do .animation .sat3.active,
.what-we-do .animation .sat4:hover,
.what-we-do .animation .sat4.active p {
  background-color: #d9e5ca
}

.what-we-do .animation .sat1 {
  left: -30px;
  top: 140px;
  background: url('/assets/images/ico_1_light.png') center center no-repeat #444;
}

.what-we-do .animation .sat1:hover p,
.what-we-do .animation .sat1 {
  visibility: visible;
  background: url('/assets/images/ico_1_dark.png') center center no-repeat #d9e5ca
}

.what-we-do .animation .sat2 {
  left: 180px;
  top: -50px;
  background: url('/assets/images/ico_2_light.png') center center no-repeat #444
}

.what-we-do .animation .sat2:hover,
.what-we-do .animation .sat2.active {
  background: url('/assets/images/ico_2_dark.png') center center no-repeat #d9e5ca
}

.what-we-do .animation .sat3 {
  right: 180px;
  top: -50px;
  background: url('/assets/images/ico_3_light.png') center center no-repeat #444
}

.what-we-do .animation .sat3:hover,
.what-we-do .animation .sat3.active {
  background: url('/assets/images/ico_3_dark.png') center center no-repeat #d9e5ca
}

.what-we-do .animation .sat4 {
  right: -30px;
  top: 140px;
  background: url('/assets/images/ico_4_light.png') center center no-repeat #444
}

.what-we-do .animation .sat4:hover,
.what-we-do .animation .sat4.active {
  background: url('/assets/images/ico_4_dark.png') center center no-repeat #d9e5ca
}

.carousel-inner {
  background-repeat: no-repeat;
  height: auto;
  top: -92px;
  background-size: cover;
  background-image: url('/assets/images/what_we_do_bg.png');
  img {
    width: 100%;
    height: 100%;
  }
  h5 {
    font-size: 32px;
    line-height: 50px;
    font-family: "proxima-nova-n8", "proxima-nova";
    font-style: normal;
    font-weight: 800;
    color: #444;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    text-align: center;
  }
}

figure {
  width: 212px;
  height: 212px;
  border-radius: 150px;
  background-color: #444;
  margin: 0 auto;
  position: relative;
  margin-bottom: 57px;
  margin-top: 198px;
}

figure::after {
  content: '';
  width: 85px;
  left: 50%;
  margin-left: -42.5px;
  height: 2px;
  position: absolute;
  bottom: -50px;
  background-color: #444;
}

.d-md-block {
  position: unset !important;
  margin: 50px;
  p {
    font-size: 27px;
    color: black;
    line-height: 50px;
    font-weight: bold;
  }
}

.carousel-indicators {
  bottom: 100px;
}

.carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  width: 30px;
  height: 30px;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 50%;
  color: black;
  /* background: red; */
  text-indent: -999px;
  cursor: pointer;
}

.carousel-title {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 32px;
    font-weight: bold;
    top: 90px;
    position: relative;
  }
}

#mobile-carousel {
  display: none;
}

@media only screen and (max-width: 768px) {
  #mobile-carousel {
    display: block;
  }
  .what-we-do {
    display: none;
  }
  .carousel-indicators li {
    background-color: green;
  }
  .carousel-indicators .active {
    background-color: white !important;
  }
}
