<div class="our-team">
  <div class="our-team__header">
    <h1>People who make it happen</h1>
    <p>These guys are the backbone of our company and who bring you the fully immersive app experience.</p>
  </div>
  <div class="our-team__members">
    <div class="our-team__members-card card">

      <div class="our-team__members-data">
        <img src="/assets/images/raphael.jpg">
        <h5>Raphael Zellah</h5>
        <p>President</p>
      </div>
    </div>
    <div class="our-team__members-card card">
      <div class="our-team__members-data">
        <img src="/assets/images/raphael.jpg">
        <h5>Patrycja Megan</h5>
        <p>Lawyer</p>
      </div>
    </div>
    <div class="our-team__members-card card">
      <div class="our-team__members-data">
        <img src="/assets/images/raphael.jpg">
        <h5>Geofrey Zellah</h5>
        <p>Developer</p>
      </div>
    </div>
  </div>
</div>
