<section class="partners-box">
  <div class="our-partners">
    <div class="our-partners__header">
      <h6>Partners</h6>
      <h1>Who Supporting Us</h1>
    </div>
    <div class="our-partners__description">
      <div class="our-partners__card card">
        <img src="/assets/images/partner1.png">
      </div>
      <div class="our-partners__card card">
        <img src="/assets/images/partner2.png">
      </div>
      <div class="our-partners__card card">
        <img src="/assets/images/partner3.png">
      </div>
      <div class="our-partners__card card">
        <img src="/assets/images/partner4.png">
      </div>
    </div>
  </div>
  

</section>
