.how-it-works {
  text-align: center;
padding: 130px 0;
}

.header-text{
    max-width: 600px;
    margin: 0 auto 60px;
    h1{
        font-size: 4.0rem;
        font-weight: 800;
        font-family: "Nunito", sans-serif;
        color: #16334e;
        line-height: 1;
        margin-bottom: 35px;
    }
    h6{
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Nunito", sans-serif;
        color: #aaaaaa;
        margin-bottom: 10px;
    }
}

.container-box{
    background: #f8fcff;
}