<section class="container-box weather snow" id="what">
<div class="container how-it-works">
  <div class="row">
    <div class="col">
      <div class="header-text">
        <h6>Process</h6>
        <h1>How it work's</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
          its layout but also</p>
      </div>
    </div>
  </div>

  <div class="row margin-balance">
      <div class="col-lg-3 col-sm-6">
        <div class="working-process process-one">
          <div class="process-icon">
            <img src="/assets/images/process-icon-1.png" class="img-fluid" alt="Process Icon">
          </div>
          <h5>Research</h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="working-process process-two">
          <div class="process-icon">
            <img src="/assets/images/process-icon-2.png" class="img-fluid" alt="Process Icon">
          </div>
          <h5>Data Collection</h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="working-process process-three">
          <div class="process-icon">
            <img src="/assets/images/process-icon-3.png" class="img-fluid" alt="Process Icon">
          </div>
          <h5>Targeting</h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="working-process process-four">
          <div class="process-icon">
            <img src="/assets/images/process-icon-4.png" class="img-fluid" alt="Process Icon">
          </div>
          <h5>Result</h5>
        </div>
      </div>
    </div>
</div>
</section>