<div class="main-header">
  <nav class="main-nav" ng-sticky [offSet]="0" [addClass]="'main-sticky'" appMainNav #ref="appMainNav">
    <div class="main-nav__logo " ng-sticky [offSet]="0" [addClass]="'main-sticky__logo'">
      <img class="man-nav__logo-green" src="/assets/images/logo-white.png">
    </div>
    <div class="main-nav__toggle">
      <i class="main-nav__bars fa fa-bars" ng-sticky [offSet]="0" [addClass]="'main-bars'"></i>
    </div>
    <ul class="main-nav__list " ng-sticky [addClass]="'main-sticky-link'" [ngClass]="ref.click === true? 'Navbar__ToggleShow' :''">
      <li class="main-nav__item">
        <a class="main-nav__link" href="#">Home</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#">About us</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#">What we do</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link " href="#">Projects</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link " href="#">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="main-banner">
    <h2>We are a team of
      <strong>experts</strong>.</h2>
    <p>Founded in 2014, the BDTS Poland specializes in IT personnel outsourcing for the areas of banking, insurance, telecommunications,
      high-tech, pharmacy, logistics and many others</p>
    <a href="http://en.astek.pl/about-us/" class="main-banner__green-button main-banner__arrow-right">Read more
      <i></i>
    </a>
    <a href="#" class="main-banner__arrow-down"></a>
  </div>

</div>

<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel lobortis est. In felis erat, dignissim sed molestie
    sed, dictum sit amet purus. Nulla ultrices rutrum maximus. Aenean hendrerit, nisl sit amet sagittis viverra, tellus erat
    euismod risus, egestas elementum nibh eros sed ante. Donec imperdiet convallis dui, et semper justo venenatis non. Vestibulum
    a tincidunt sem, non bibendum nunc. Nam tincidunt sed lectus condimentum luctus. Fusce ut blandit lacus. In maximus libero
    vitae velit consequat lobortis. Ut pellentesque, neque ut interdum consectetur, dui dui posuere nulla, sit amet luctus
    nibh augue sed justo. Sed quis gravida leo. Sed cursus erat arcu, eget accumsan orci consequat sed. Phasellus quis dui
    sapien. Praesent at maximus neque. Suspendisse pharetra, justo et rhoncus dapibus, dolor leo lacinia est, non semper
    purus tortor ut turpis. Vestibulum pretium tristique purus eu aliquet. In hac habitasse platea dictumst. Pellentesque
    a mi id eros pharetra condimentum. In eu leo sit amet sem dignissim facilisis. Phasellus vitae orci leo. Etiam tempus
    ipsum dui, elementum semper elit interdum vitae. Etiam eget consequat quam, non dignissim ipsum. Morbi quis laoreet massa.
    Fusce commodo mauris eu posuere faucibus. Integer ac urna porta, scelerisque elit id, molestie diam. Pellentesque consectetur
    magna nec dolor accumsan, a auctor justo faucibus. Mauris a dictum lacus. Donec auctor lorem ante, in porttitor eros
    faucibus quis. Sed et libero erat. In quis dolor porttitor, efficitur lacus nec, placerat nulla. Nunc lobortis iaculis
    congue. Nam velit orci, molestie sed lacinia et, semper a ipsum. Duis lacinia efficitur urna nec congue. Etiam rhoncus
    mattis faucibus. Sed malesuada orci vitae convallis rutrum. Sed ac lorem sapien. Maecenas malesuada nunc eu tempor fringilla.
    Integer sit amet nulla neque. Phasellus dictum tortor sed arcu venenatis dapibus. Nullam cursus ligula vel scelerisque
    lobortis. Integer luctus a urna nec sodales. Praesent suscipit ultricies congue. Nulla mattis arcu ut varius euismod.
    Donec vehicula et nisl in molestie. Mauris maximus ligula sed orci ornare, sed ornare tellus varius. Donec erat risus,
    scelerisque quis ipsum ac, vulputate tempus magna. Sed sed justo sed massa consequat facilisis. Sed tempus commodo leo
    ac finibus. Fusce gravida sodales mi. Maecenas eu posuere ante. Quisque et arcu erat. Pellentesque varius nisi feugiat,
    ultricies nulla nec, fringilla turpis. Integer tincidunt maximus urna, quis placerat sapien consectetur eget. Mauris
    dignissim fermentum porttitor. Fusce maximus neque ac elementum mattis. Generated 5 paragraphs, 385 words, 2590 bytes
    of Lorem Ipsum</p>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel lobortis est. In felis erat, dignissim sed molestie sed,
  dictum sit amet purus. Nulla ultrices rutrum maximus. Aenean hendrerit, nisl sit amet sagittis viverra, tellus erat euismod
  risus, egestas elementum nibh eros sed ante. Donec imperdiet convallis dui, et semper justo venenatis non. Vestibulum a
  tincidunt sem, non bibendum nunc. Nam tincidunt sed lectus condimentum luctus. Fusce ut blandit lacus. In maximus libero
  vitae velit consequat lobortis. Ut pellentesque, neque ut interdum consectetur, dui dui posuere nulla, sit amet luctus
  nibh augue sed justo. Sed quis gravida leo. Sed cursus erat arcu, eget accumsan orci consequat sed. Phasellus quis dui
  sapien. Praesent at maximus neque. Suspendisse pharetra, justo et rhoncus dapibus, dolor leo lacinia est, non semper purus
  tortor ut turpis. Vestibulum pretium tristique purus eu aliquet. In hac habitasse platea dictumst. Pellentesque a mi id
  eros pharetra condimentum. In eu leo sit amet sem dignissim facilisis. Phasellus vitae orci leo. Etiam tempus ipsum dui,
  elementum semper elit interdum vitae. Etiam eget consequat quam, non dignissim ipsum. Morbi quis laoreet massa. Fusce commodo
  mauris eu posuere faucibus. Integer ac urna porta, scelerisque elit id, molestie diam. Pellentesque consectetur magna nec
  dolor accumsan, a auctor justo faucibus. Mauris a dictum lacus. Donec auctor lorem ante, in porttitor eros faucibus quis.
  Sed et libero erat. In quis dolor porttitor, efficitur lacus nec, placerat nulla. Nunc lobortis iaculis congue. Nam velit
  orci, molestie sed lacinia et, semper a ipsum. Duis lacinia efficitur urna nec congue. Etiam rhoncus mattis faucibus. Sed
  malesuada orci vitae convallis rutrum. Sed ac lorem sapien. Maecenas malesuada nunc eu tempor fringilla. Integer sit amet
  nulla neque. Phasellus dictum tortor sed arcu venenatis dapibus. Nullam cursus ligula vel scelerisque lobortis. Integer
  luctus a urna nec sodales. Praesent suscipit ultricies congue. Nulla mattis arcu ut varius euismod. Donec vehicula et nisl
  in molestie. Mauris maximus ligula sed orci ornare, sed ornare tellus varius. Donec erat risus, scelerisque quis ipsum
  ac, vulputate tempus magna. Sed sed justo sed massa consequat facilisis. Sed tempus commodo leo ac finibus. Fusce gravida
  sodales mi. Maecenas eu posuere ante. Quisque et arcu erat. Pellentesque varius nisi feugiat, ultricies nulla nec, fringilla
  turpis. Integer tincidunt maximus urna, quis placerat sapien consectetur eget. Mauris dignissim fermentum porttitor. Fusce
  maximus neque ac elementum mattis. Generated 5 paragraphs, 385 words, 2590 bytes of Lorem Ipsum




</div>

<app-footer></app-footer>