<div class="about-us">
  <div class="about-us__description">
    <div class="about-us__text-header">
      <h1>We can help your business scale new heights. Get Going Now</h1>
    </div>
    <div class="about-us__text">
      <div class="about-us__text-left">

        <h4>About Us</h4>

        <p>
          Founded in 2007, ASTEK Poland is a local branch of the international ASTEK Group, which specializes in IT staff outsourcing
          and in the implementation of IT projects. Our experts provide innovative solutions, that help our customers to
          increase their business efficiency. ASTEK Poland bases on years of experience, gained by the international ASTEK
          Group and moves them directly onto polish market. Due to the fact, that the group operates since 1988 in 13 countries,
          the solutions created for IT consulting and software engineering created during this period of
        </p>
      </div>
      <div class="about-us__text-right">
        <div class="about-us__text-vision">
          <h4>Our Vision</h4>
          <p>We have an extensive portfolio of technical competences and we are familiar with local business specifics in various
            sectors: banking, insurance, telecommunications, high-tech, pharmaceuticals, logistics and others.
          </p>
        </div>
        <div class="about-us__text-philosopy">
          <h4>Our Philosophy</h4>
          <p>We have an extensive portfolio of technical competences and we are familiar with local business specifics in various
            sectors: banking, insurance, telecommunications, high-tech, pharmaceuticals, logistics and others</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us__left">
    <div class="about-us__leftdescription">
      <h1>Main Activities</h1>
      <ul>
        <li>Specjalizujemy się w outsourcingu kadry IT;</li>
        <li>Zapewniamy możliwość współpracy ze starannie dobranymi ekspertami IT lub całymi ich zespołami;</li>
        <li>Pracujemy zgodnie z zasadami biznesu Klienta, dbając o wysoki standard świadczonych usług;</li>
        <li>Budujemy i utrzymujemy długotrwałe relacje, oparte na wzajemnym zaufaniu;</li>
        <li>Wartości, jakimi się kierujemy to odwaga, efektywność rozwiązań technicznych, zaangażowanie, zadowolenie Klientów
          i inwestowanie w kapitał ludzki;</li>
        <li>Jesteśmy elastyczni w dostosowaniu się do technologii, modelu biznesowego oraz kryteriów finansowych naszych Klientów.
          Ofertę przystosowujemy indywidualnie, aby sprostać szybko zmieniającym się warunkom i trendom rynkowym.</li>
      </ul>
    </div>
  </div>
  <div class="about-us__right">
    <div class="about-us__rightdescription">
      <h1>Our Goals</h1>
      <p>
        Aby wychodzić naprzeciw stale zmieniającym się wymogom rynkowym i sprawnie reagować na nowe potrzeby naszych Klientów, stawiamy
        głównie na szybki rozwój. Aby móc dostarczyć jak najwyższą jakość świadczonych przez nas usług, dbamy przede wszystkim
        o pracowników. Angażując się w ich rozwój i motywację, oraz stale doceniając ich wartość, jesteśmy w stanie dostarczyć
        niezawodne rozwiązania, przygotowane przez świetnie przeszkolony zespół. Nie boimy się patrzeć w przyszłość: chcemy
        zostać liderem w dziedzinie świadczenia usług outsourcingowych w Polsce.
      </p>
    </div>
  </div>
</div>
