<div class="about-us">
  <div class="about-us__left">
    <div class="about-us__leftdescription">
      <h1>About Us</h1>
      <ul>
        <li>Specjalizujemy się w outsourcingu kadry IT;</li>
        <li>Zapewniamy możliwość współpracy ze starannie dobranymi ekspertami IT lub całymi ich zespołami;</li>
        <li>Pracujemy zgodnie z zasadami biznesu Klienta, dbając o wysoki standard świadczonych usług;</li>
        <li>Budujemy i utrzymujemy długotrwałe relacje, oparte na wzajemnym zaufaniu;</li>
        <li>Wartości, jakimi się kierujemy to odwaga, efektywność rozwiązań technicznych, zaangażowanie, zadowolenie Klientów
          i inwestowanie w kapitał ludzki;</li>
        <li>Jesteśmy elastyczni w dostosowaniu się do technologii, modelu biznesowego oraz kryteriów finansowych naszych Klientów.
          Ofertę przystosowujemy indywidualnie, aby sprostać szybko zmieniającym się warunkom i trendom rynkowym.</li>
      </ul>
    </div>
  </div>
  <div class="about-us__right">
    <div class="about-us__rightdescription">
      <h1>Our Goals</h1>
      <p>
        Aby wychodzić naprzeciw stale zmieniającym się wymogom rynkowym i sprawnie reagować na nowe potrzeby naszych Klientów, stawiamy
        głównie na szybki rozwój. Aby móc dostarczyć jak najwyższą jakość świadczonych przez nas usług, dbamy przede wszystkim
        o pracowników. Angażując się w ich rozwój i motywację, oraz stale doceniając ich wartość, jesteśmy w stanie dostarczyć
        niezawodne rozwiązania, przygotowane przez świetnie przeszkolony zespół. Nie boimy się patrzeć w przyszłość: chcemy
        zostać liderem w dziedzinie świadczenia usług outsourcingowych w Polsce.
      </p>
    </div>
  </div>
</div>
