.main-footer {
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/assets/images/blue-footer-bg.png');
  &__header {
    display: block;
    text-align: center;
    padding-top: 60px;
  }
  &__details {
    padding: 60px;
    margin-top: 190px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid;
    margin-bottom: 54px;
  }
}

.form {
  &__top {
    display: flex;
    justify-content: center;
  }
  &__down {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
}

.message {
  display: flex;
  justify-content: center;
}

.form__group {
  margin: 30px;
}

.form__input {
  padding: 15px 20px;
  width: 400px;
  border-radius: 4px;
  &--textarea {
    height: 146px;
  }
  &--submit {
    font-size: 14px;
    background-color: #00964e;
    line-height: 18px;
    width: 200px !important;
    padding: 12px 30px;
    color: white;
    border: 3px solid #00964e;
    border-radius: 30px;
    margin-bottom: 70px;
    text-transform: uppercase;
    height: 3.4375rem;
    width: 200px;
  }
  &--submit:hover {
    background-color: white;
    color: #00964e;
  }
}

.font {
  color: red;
}

.main-footer__copy-right {
  display: flex;
  justify-content: space-around;
  background-color: #00964e;
  opacity: 0.5;
}

.main-footer__caret-up {
  .icon-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #232838;
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.28);
    line-height: 32px;
    position: relative;
    color: #fff;
    font-size: 2.571em;
    text-align: center;
  }
  .icon-round:hover {
    background: red;
  }
}

@media only screen and (max-width: 768px) {
  .main-footer {
    &__details {
      display: block;
      text-align: center;
      overflow: auto;
    }
  }
  .form {
    &__top {
      display: block;
      overflow: auto;
    }
    &__group {
      overflow: auto;
    }
  }
}
