<footer class="main-footer">
  <div class="main-footer__header">
    <h3>Contact Us</h3>
    <span>Get in touch</span>
  </div>
  <div class="main-footer__details">
    <div class="main-footer__left">
      <p>
        <i class="font fa fa-mobile-phone fa-5x"></i>
        <br>
        <br>
        <span>Call us</span>
        <br>
        <span>729 251 347</span>
      </p>
    </div>

    <div class="main-footer__center">
      <p>
        <i class="font fa fa-map-marker fa-5x"></i>
        <br>
        <br>
        <span>ul.wodna 16</span>
        <br>
        <span>05-503 Głosków</span>
        <br>
        <span>Poland</span>
      </p>
    </div>
    <div class="main-footer__right">
      <p>
        <i class="font fa fa-envelope fa-5x"></i>
        <br>
        <br>
        <span>Email us</span>
        <br>
        <span>majeni@info.com</span>
      </p>
    </div>
  </div>
  <span class="border-top my-3"></span>
  <form name="form" role="form" method="post">
    <div class="message">
      <h3> Write to us </h3>
    </div>
    <div class="form__top">
      <div class="form__left">
        <div class="form__group">
          <input class="form__input form__input--name" type="text" placeholder="name">
        </div>

        <div class="form__group">
          <input class="form__input form__input--email" type="email" placeholder="email">
        </div>
      </div>
      <div class="form__right">
        <div class="form__group">
          <textarea class="form__input form__input--textarea" placeholder="Message" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="form__down">
      <div class="form__group">
        <input class="form__input form__input--submit" name="submit" type="submit" value="SEND MESSAGE">
      </div>
    </div>

  </form>
  <div class="main-footer__copy-right">
    <p class="copyrights">Copyright © 2018 BDTS Polska Sp. z o.o. designed by Geofrey Zellah
    </p>
  </div>
</footer>
