@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
  }
}
  h1{
    font-family: 'Satisfy', cursive;
  }